<!--
<form method="post" action="/subscribe/" class="">
    <input class="confirm" type="hidden" name="confirm"  /><input class="location" type="hidden" name="location"  /><input class="referrer" type="hidden" name="referrer"  />

    <div class="form-group">
        <input class="subscribe-email" type="email" name="email"  placeholder="youremail@example.com" />
    </div>
    <button class="" type="submit" {% unless site.subscribe %}disabled{% endunless %}><span>Abone Ol</span></button>
    <script type="text/javascript">(function(g,h,o,s,t){h[o]('.location')[s]=h[o]('.location')[s] || g.location.href;h[o]('.referrer')[s]=h[o]('.referrer')[s] || h.referrer;})(window,document,'querySelector','value');</script>
</form>
-->

<form action="https://bisguzar.us16.list-manage.com/subscribe/post?u=d94501cb9369b34295bebcc78&amp;id=d86244c98a" method="post" target="_blank" novalidate>

	<div class="form-group">
		<input type="email" placeholder="mailadresin@ornek.com"  name="EMAIL" class="subscribe-email" id="mce-EMAIL" required>
	</div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <input type="hidden" name="b_d94501cb9369b34295bebcc78_d86244c98a" tabindex="-1" value="">
    <button type="submit" name="subscribe" id="mc-embedded-subscribe"><span>Abone Ol</span></button>

</form>
